<%- layout('layouts/main.ejs')%>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form action="/api/auth/login" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Insert email" class="form-control" />
                    </div>

                    <div class="form-group mt-4">
                        <input type="password" name="password" placeholder="Insert password" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-4">Login</button>
                </form>
            </div>
        </div>
        <br />
        <hr>
        <br />
        <div class="text-center">
            <a href="/api/auth/google" class="btn btn-outline-danger" style="min-width: 80%;">
                <i class="bi bi-google"></i> 
                 &nbsp;&nbsp;Iniciar sesión con Google
            </a>

            <a href="/api/auth/facebook" class="btn btn-outline-facebook" style="min-width: 80%;margin-top:5px">
                <i class="bi bi-facebook"></i> 
                &nbsp;&nbsp;Iniciar sesión con Facebook
            </a>

            <a href="/api/auth/discord" class="btn btn-outline-discord" style="min-width: 80%;margin-top:5px">
                <i class="bi bi-discord"></i> 
                &nbsp;&nbsp;Iniciar sesión con Discord
            </a>
        </div>

    </div>
</div>
