

<form action="/api/auth/signup" method="POST">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="insert password">

    <button type="submit">
         signup
    </button>
</form>